# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# Maven
target/
#webhook is working
#nothing has changes this time
#cd has done first time now trying to push this for commit purpose